<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="edu.cs423.mp5" android:versionCode="1" android:versionName="1.0">
  <application android:icon="@drawable/icon" android:label="@string/app_name">
    <uses-library android:name="com.google.android.maps" />
    
    <activity android:name=".Main" android:label="@string/app_name" android:screenOrientation="landscape">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    
    <activity android:name=".tabs.view.ViewTab" android:screenOrientation="landscape">
    </activity>
    
    <activity android:name=".tabs.view.OverlayActivity" android:screenOrientation="landscape">
    </activity>
    
    <activity android:name=".tabs.status.StatusTab" android:screenOrientation="landscape">
    </activity>
    
    <activity android:name=".tabs.snap.SnapTab" android:screenOrientation="landscape">
    </activity>
    
    <activity android:name=".tabs.snap.InputTab" android:screenOrientation="landscape">
    </activity>
  </application>
  
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
  <uses-permission android:name="android.permission.BLUETOOTH" />
  
  <uses-feature android:name="android.hardware.camera" />
  <uses-feature android:name="android.hardware.camera.autofocus" />
  
  <uses-sdk android:minSdkVersion="8" />
</manifest> 